matplotlib == 3.7.1
numpy==1.23.5
pandas==1.5.3
pandas-dq==1.28
pandas-profiling==3.6.6
plotly==5.16.1
plotly-resampler==0.9.1
streamlit==1.30.0
ipython ==8.16.1
pycaret == 3.0.4
catboost == 1.2.2
lightgbm == 4.1.0
requests == 2.31.0
joblib == 1.2.0
scipy == 1.10.1